/** Variables **/
$lightdark  : #444;
$green      : #b8feb8;
$darker     : #666;

#dps_missed_day_header {
  float: none;
  font-family: verdana, Arial, Helvetica, Courier, sans-serif;
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
  color: #666;
  margin: 5px 0;
}


legend {
  display: block;
  margin-bottom: 1.42857;
  padding: 0 0.35em;
  font-weight: bold;
  width: auto;
  border: 0;
  font-size: 11pt;
  line-height: 1;
  color: $darker;
}

.legendColorBox {
  vertical-align: middle;
  width: 2%;
}

.item-radio, .item-content {
  white-space: normal;
}

#mma_mpd_dps_attempt_form {
  color: $lightdark;
}

/** Chart styles **/
.dps_chart {
  display: block;
  width:100%;
  height:300px;
}

.dps_chart div.xAxis div.tickLabel {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  margin-top: 1.6em;
  max-width: 75px !important;
}

.dps_chart table, .dps_chart .legend>div  {
  top: 325px !important;
}

.dps_chart .legend table {
  left: 0px;
}

.correctAnswer, .correctAnswerFinal {
  background-color: $green;
}

.correctAnswer, .wrongAnswer {
  padding-left: 25px;
}

.wrongAnswerFinal {
  background-color: #FFC3CE;
}

.percent_header {
  color: $darker;
}

.date-diff {
  display: inline-block;
  padding: 10px 3px;
  cursor: pointer;
  text-align: left;
  direction: ltr;
  color: $darker;
}

.day-range {
    text-decoration: underline;
}

.statscontent br {
  display: none;
}


/** Archive Layout **/
#viewarchive .header .col {
  color: #333;
  background: #eee;
  border-bottom: 1px solid #d5d5d5;
  -moz-box-shadow: 1px 1px 1px #fafafa inset;
  -webkit-box-shadow: 1px 1px 1px #fafafa inset;
  box-shadow: 1px 1px 1px #fafafa inset;
  text-shadow: 0 1px 0 #fff;
  font-weight: bold;
}

#viewarchive .col {
  border: 1px solid #ddd;
}

#viewarchive .dayshown {
  color: #000;
}

span.viewarchive {
  color: $dark;
}

.strong {
  font-weight: bold;
}