<ion-view>
    <ion-nav-title><mm-format-text watch="true">{{ title }}</mm-format-text></ion-nav-title>
    <ion-content delegate-handle="mmSectionScroll" mm-state-class>
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="sectionLoaded" on-refresh="doRefresh()">
        </ion-refresher>
        <mm-loading hide-until="sectionLoaded" loading-padding-top="loadingPaddingTop">

            <section class="card" ng-if="summary">
                <!-- Only displayed when 1 section per page. -->
                <div class="item item-text-wrap">
                    <article><mm-format-text class="mm-content-with-float">{{ summary }}</mm-format-text></article>
                </div>
            </section>

            <section ng-repeat="section in sections" ng-if="section.modules.length > 0 || section.summary != ''">
                <!-- Title and summary are displayed when multiple sections per page. -->
                <div class="item item-divider" ng-if="allSections">
                    <h2><mm-format-text watch="true">{{ section.name }}</mm-format-text></h2>
                </div>

                <div class="item item-text-wrap" ng-if="allSections && section.summary">
                    <mm-format-text class="mm-content-with-float">{{ section.summary }}</mm-format-text>
                </div>

                <ion-list>
                    <div ng-repeat="module in section.modules" ng-show="module.visible" style="margin-top:1px;">
                      <ion-item class="item-stable" ng-class="{active: isModuleShown(module)}">
                          <i class="icon" ng-click="toggleModule(module)" ng-class="isModuleShown(module) ? 'ion-minus' : 'ion-plus'"></i>
                        &nbsp;
                        <strong>{{module.name}}</strong> <i ng-click="action($event)" ng-controller="module._controller" class="icon ion-chevron-right icon-accessory pull-right"></i>
                      </ion-item>
                      <ion-item class="item-accordion" ng-show="isModuleShown(module)">Cycle Start Date : {{module.cycle_start}}</ion-item>
                      <ion-item class="item-accordion" ng-show="isModuleShown(module)">Cycle End Date : {{module.cycle_end}}</ion-item>
                      <ion-item class="item-accordion" ng-show="isModuleShown(module)">Daily Start Date : {{module.dps_start}}</ion-item>
                      <ion-item class="item-accordion" ng-show="isModuleShown(module)">Daily End Date : {{module.dps_start}}</ion-item>
                    </div>
                </ion-list>

                <!-- When there is nothing in the section. -->
                <!--<div class="item item-text-wrap" ng-if="!sitehome && section.modules.length < 1">
                    {{ 'mm.course.nocontentavailable' | translate }}
                </div>-->
            </section>
            <p class="padding" ng-if="!hasContent">{{ 'mm.course.nocontentavailable' | translate }}</p>
        </mm-loading>
    </ion-content>
</ion-view>
