<ion-view>
    <ion-nav-title><mm-format-text watch="true">{{ title }}</mm-format-text></ion-nav-title>
    <ion-content delegate-handle="mmSectionScroll" mm-state-class>
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="sectionLoaded" on-refresh="doRefresh()">
        </ion-refresher>
        <mm-loading hide-until="sectionLoaded" loading-padding-top="loadingPaddingTop">

            <section class="card" ng-if="summary">
                <!-- Only displayed when 1 section per page. -->
                <div class="item item-text-wrap">
                    <article><mm-format-text class="mm-content-with-float">{{ summary }}</mm-format-text></article>
                </div>
            </section>

            <section class="card" ng-repeat="section in sections" ng-if="section.modules.length > 0 || section.summary != ''">
                <!-- Title and summary are displayed when multiple sections per page. -->
                <div class="item item-divider" ng-if="allSections">
                    <h2><mm-format-text watch="true">{{ section.name }}</mm-format-text></h2>
                </div>

                <div class="item item-text-wrap" ng-if="allSections && section.summary">
                    <mm-format-text class="mm-content-with-float">{{ section.summary }}</mm-format-text>
                </div>

                <a class="item item-text-wrap mm-course-module-handler {{class}}" ng-if="module.modname != 'dps'" ng-repeat="module in section.modules" ng-click="action($event)" ng-class="{'item-button-right': buttons && buttons.length > 0, 'item-media': icon, 'item-completion': module.completionstatus}" ng-controller="module._controller" title="{{ title }}">
                    <img ng-src="{{ icon }}" alt="" role="presentation" ng-if="icon">
                    <mm-format-text watch="true">{{ title }}</mm-format-text>

                    <button ng-repeat="button in buttons" ng-hide="button.hidden" ng-click="button.action($event)" class="button button-icon" aria-label="{{ button.label | translate }}">
                        <i class="icon positive" ng-class="{'{{button.icon}}': button.icon}"></i>
                    </button>

                    <ion-spinner ng-if="spinner"></ion-spinner>

                    <mm-completion ng-if="module.completionstatus" completion="module.completionstatus" module-name="title" after-change="completionChanged"></mm-completion>
                </a>
                <!-- Indepth Hack -->
                <ion-list>
                  <div ng-repeat="module in section.modules" ng-if="module.modname == 'dps'" ng-show="module.visible" style="margin-top:1px;">
                      <ion-item class="item-stable" ng-class-odd="'item-stable-odd'" ng-class-even="'item-stable-even'" ng-class="{active: isModuleShown(module)}">
                        <button ng-click="toggleModule(module)" class="button-plus">
                          <i class="icon" ng-click="" ng-class="isModuleShown(module) ? 'ion-minus' : 'ion-plus'"></i>
                        </button>
                        &nbsp;
                        <span ng-click="action($event)" ng-controller="module._controller">
                          <strong>
                            <i class="icon ico-green" ng-click="" ng-class="module.is_active ? 'ion-checkmark-round' : ''"></i>
                            <mm-format-text>{{module.name}}</mm-format-text>
                          </strong>
                          <button class="pull-right button-forward">
                            <i class="icon ion-chevron-right icon-accessory"></i>
                          </button>
                        </span>
                      </ion-item>

                      <ion-item class="item-accordion" ng-class-odd="'item-stable-odd'" ng-class-even="'item-stable-even'" ng-show="isModuleShown(module)">
                        <span class="dps_title">{{ 'mma.mod_dps.cycle' | translate}}</span><span class="dps_info">{{module.cycle_id}}</span>
                      </ion-item>

                      <ion-item class="item-accordion" ng-class-odd="'item-stable-odd'" ng-class-even="'item-stable-even'" ng-show="isModuleShown(module)">
                        <span class="dps_title">{{ 'mma.mod_dps.dailystart' | translate}}</span><span class="dps_info">{{module.dps_start}}</span>
                      </ion-item>

                      <ion-item class="item-accordion" ng-class-odd="'item-stable-odd'" ng-class-even="'item-stable-even'" ng-show="isModuleShown(module)">
                        <span class="dps_title">{{ 'mma.mod_dps.dailyend' | translate}}</span><span class="dps_info">{{module.dps_end}}</span>
                      </ion-item>

                      <ion-item class="item-accordion" ng-class-odd="'item-stable-odd'" ng-class-even="'item-stable-even'" ng-if="module.show_bookmark" ng-show="isModuleShown(module)" ng-controller="module._controller">
                        <span class="dps_title">{{ 'mma.mod_dps.bookmarkit' | translate}}</span><span class="dps_info">
                          <ion-checkbox ng-model="module.dps_bookmarked" ng-change="bookmark.action($event, module.dps_bookmarked)"></ion-checkbox>
                        </span>
                      </ion-item>

                      <ion-item class="item-accordion" ng-class-odd="'item-stable-odd'" ng-class-even="'item-stable-even'" ng-if="module.show_archive" ng-show="isModuleShown(module)" ng-controller="module._controller">
                        <span class="dps_title">{{ 'mma.mod_dps.archive' | translate}}</span><span class="dps_info viewarchive" ng-click="archive.action($event)">{{ 'mma.mod_dps.viewarchive' | translate}}</span>
                      </ion-item>
                  </div>
                </ion-list>

                <!-- When there is nothing in the section. -->
                <!--<div class="item item-text-wrap" ng-if="!sitehome && section.modules.length < 1">
                    {{ 'mm.course.nocontentavailable' | translate }}
                </div>-->
            </section>
            <p class="padding" ng-if="!hasContent">{{ 'mm.course.nocontentavailable' | translate }}</p>
        </mm-loading>
    </ion-content>
</ion-view>