<table class="generalbox" border="0" cellpadding="0" cellspacing="0" style="width:150px;">
    <tbody>
        <tr>
            <td class="generalboxcontent" bgcolor="#ffffff" width="100%">
                <table class="generaltable" border="0" width="150" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <th class="generaltableheader" width="100%" scope="col">
                                <label ng-if="text"> {{text}}</label>
                            </th>
                        </tr>
                        <tr>
                            <td id="timer" class="generaltablecell" align="center" width="100%">
                                <div id="clock">
                                    <div>
                                        <span ng-if="timeLeft > 0">{{ timeLeft | mmSecondsToHMS }}</span>
                                        <span ng-if="timeLeft <= 0">{{ 'mm.core.timesup' | translate }}</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>