
.item.item-button-right .badge.mm-course-download{
  right: $spinner-width + $item-padding;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.pull-right {
  float: right;
}

.button-plus, .button-forward {
  background: none;
  border-color: transparent;
  color: #c60;
  font-size: 16px;
}
