/**
 * variables
 */

 $even:                 #fafafa !default;
 $odd:                  #f0f0f0 !default;

.item.item-button-right .badge.mm-course-download{
  right: $spinner-width + $item-padding;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.pull-right {
  float: right;
}

.button-plus, .button-forward {
  background: none;
  border-color: transparent;
  color: #c60;
  font-size: 16px;
}

.item.item-stable-even, .item.item-stable-even.active {
  background-color: $even;
}

.item.item-stable-odd, .item.item-stable-odd.active {
  background-color: $odd;
}

.ico-green {
  color: #008000;
}

.dps_title {
  width: 50%;
  display: inline-block;
  font-weight: bold;
  vertical-align: middle;
  white-space: normal;
  line-height: normal;
  padding-right: 10px;
}

.dps_info {
  width: 50%;
  display: inline-block;
  white-space: normal;
  line-height: normal;
  vertical-align: middle;
}

.item.item-stable-odd .dps_info label {
  background-color: #f0f0f0;
}

.item.item-stable-even .dps_info label {
  background-color: #fafafa;
}

.dps_info .item-checkbox .checkbox {
  left: -3px;
  padding-left: 0px;
  margin-left: 0px;
}