<ion-view view-title="{{ 'mm.core.sitename' | translate }}">
  <ion-content mm-state-class>
    <header class="siteheader">
      <img src="core/img/header.jpg">
    </header>
    <div class="list">
      <div class="block-in">
        <div class="header">
          <div class="title">
            <h5>{{ 'mm.login.login' | translate }}</h5>
          </div>
        </div>
        <div class="content">
          <form>
            <label class="">
              <span class="">{{ 'mm.login.username' | translate }}</span>
              <input type="text" ng-model="credentials.username" autocapitalize="off" autocorrect="off" mm-auto-focus ng-disabled="isBrowserSSO">
            </label>
            <label class="">
              <span class="">{{ 'mm.login.password' | translate }}</span>
              <input type="password" ng-model="credentials.password" ng-disabled="isBrowserSSO">
            </label>
            <div class="">
              <button class="button button-block button-indepth" ng-click="login()">{{ 'mm.login.loginbutton' | translate }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ion-content>
<ion-footer-bar align-title="left" class="bar-indepth">
  ostadelahi-indepth.com | © 2016 - All rights reserved
</ion-footer-bar>
</ion-view>
