<ion-view>
    <ion-content padding="true">
        <mm-loading hide-until="sectionLoaded" loading-padding-top="loadingPaddingTop">
            <div ng-if="enrolstatus.success">
                <div class="item item-text-wrap item-body">
                    <mm-format-text watch=true>{{enrolstatus.message}}</mm-format-text>
                </div>
                <div class="btn-group">
                    <button ui-sref="site.mod_dps({courseid: courseid, sectionid: sectionid, module: module})" class="button button-indepth">{{ 'mma.mod_dps.continue' | translate}}</button>
                </div>
            </div>
        </mm-loading> 
    </ion-content>
</ion-view>
