<ion-view>
    <ion-nav-title><mm-format-text watch=true>{{title}}</mm-format-text></ion-nav-title>
    <ion-content padding="true">
        <div ng-if="!status.dps.isActive">
            <!-- 
            If dps is not active, we will have two situations: either future dps or past dps
            -->
            <mma-mod-dps-status status="status.dps.message" courseid="courseid" sectionid="sectionid" module="module" watch="true">
            </mm-mod-dps-status>
        </div>
        <div ng-if="status.dps.isActive">
            <!-- Check if missed days exceeded. -->
            <div ng-if="status.missed.hasExceeded">
                <mma-mod-dps-status status="status.missed.message" courseid="courseid" sectionid="sectionid" module="module" watch="true">
                </mm-mod-dps-status>
            </div>
            <!-- Check if missed days not exceeded. -->
            <div ng-if="!status.missed.hasExceeded">
                <!-- Check if user is enrolled to dps -->
                <div ng-if="!status.enrol.isEnrolled">
                    <div class="item item-text-wrap item-body">
                        <mm-format-text class="mm-content-with-float">{{ status.enrol.message }}</mm-format-text>
                    </div>
                    <a ui-sref="site.mod_dps-enrol({courseid: courseid})" class="button button-block">{{ 'mma.mod_dps.continue' | translate }}</a>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>