<ion-view view-title="{{ 'mm.modules.mycourses' | translate }}">
    <ion-nav-buttons side="secondary">
        <a ui-sref="site.mm_searchmodules" ng-if="searchEnabled" class="button button-icon ion-ios-search"></a>
    </ion-nav-buttons>
    <ion-content padding="true" mm-state-class>
        <!-- ion-refresher needs to be direct child of ion-content to work with native scrolling -->
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="modulesLoaded" on-refresh="refreshModules()">
        </ion-refresher>
        <mm-loading hide-until="modulesLoaded">
            <div class="list" ng-if="modules && modules.length > 5">
                <label class="item item-input">
                    <i class="icon ion-funnel placeholder-icon"></i>
                    <input type="text" placeholder="{{ 'mm.modules.filtermycourses' | translate}}" ng-model="filter.filterText">
                </label>
            </div>
            <section ng-repeat="course in modules | filter:{fullname: filter.filterText}" class="list card">
                <a class="item" ui-sref="site.mm_course({courseid: course.id})" title="{{course.fullname}}">
                    <h2><mm-format-text watch="true">{{course.fullname}}</mm-format-text></h2>
                </a>
                <div id="module_content" class="item item-text-wrap" ng-show="course.summary">
                    <p>
                        <summary>
                            <mm-format-text class="mm-content-with-float" watch="true" expand-on-click="true">{{course.summary | mmFormatLinks }}</mm-format-text>
                        </summary>
                    </p>
                </div>
            </section>
            <div ng-if="!modules || !modules.length">
                <p>{{ 'mm.modules.nomodules' | translate }}</p>
                <p ng-if="searchEnabled">{{ 'mm.modules.searchmodulesadvice' | translate }}</p>
            </div>
        </mm-loading>
    </ion-content>
</ion-view>
